<div class="d-flex flex-column a-bg-f5f a-template-container">

    <!-- Notifications sticky bar -->
    <div class="bar a-notification a-notification-hide a-transition-500ms" data-hide="3">
                <span class="notification-content">
                    <span id="notification-text" class="text-left"></span>
                </span>
        <div class="a-countdown-wrapper">
        </div>
    </div>

    <!-- Header -->
    <div class="a-header a-hfn-header-container d-flex align-items-center justify-content-between a-px-20">
        <div class="d-flex align-items-center">
            <div class="a-pwc-logo a-md"></div>
            <span class="divider a-mx-20"></span>
            <div class="font-weight-medium a-nowrap" onclick="location.href='/'">PwC Datafind</div>
            <span class="divider a-mx-20"></span>
        </div>
        <div class="d-flex align-items-center a-pl-10">
            <div class="a-logout d-none d-md-flex">
                <button aria-expanded="false" aria-haspopup="true" class="user-name a-bg-primary a-text-white size-24"
                        data-toggle="dropdown">FL
                </button>
                <div class="dropdown-menu dropdown-menu-right a-shadow-sm border-0 a-user-setting-panel-one w-15">
                    <div class="text-center dropdown-title">WELCOME FIRST LASTNAME</div>
                    <div class="user-logout">
                        <button class="sign-out-btn a-btn a-btn-primary a-btn-lg">Log Out</button>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex d-md-none a-logout align-items-center">
                <button class="user-name a-bg-primary a-text-white size-24" aria-expanded="false" aria-haspopup="true"
                        data-toggle="dropdown">
                    <span class="appkiticon icon-menu-outline"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-right a-shadow-sm border-0 a-user-setting-panel-one w-15">
                    <div class="text-center dropdown-title">WELCOME FIRST LASTNAME</div>
                    <ul class="user-infor-list">
                        <li class="user-infor-list-item active-link"><a href="preproc">PwC Datafind</a></li>

                    </ul>
                    <div class="user-logout border-top">
                        <button class="sign-out-btn a-btn a-btn-primary a-btn-lg">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>